In [ ]:
## Import the library
import pandas as pd
import numpy  as np
import matplotlib.pyplot as   plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
sns.set()
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/07_Visualization/Titanic_Desaster/train.csv")

In [ ]:
df.info()

In [ ]:
df.sample(5)

In [ ]:
df.isna().sum()

In [ ]:
df=df.drop(["Cabin","Ticket","Embarked","Name"],axis=1)

In [ ]:
df.info()

In [ ]:
median =df.Age.median()
median

In [ ]:
df.Age.mean()

In [ ]:
df["Age"].fillna(median,inplace=True)

In [ ]:
df.info()

In [ ]:
## data type object summary
for col in df.columns:

    # Check column dtype
    if df[col].dtype == 'object':

        # Column details
        print(f"Column: {col}")

        # Number of unique values
        print(f"Unique values: {df[col].unique()}")

        # Value counts
        print(df[col].value_counts())

        # Separator
        print("="*40)

In [ ]:
## data type numiric summary
for col in df.columns:

    # Check column numiric
    if df[col].dtype != 'object':

        # Column details
        print(f"Column: {col}")

        # max & min values
        print(f"max: {df[col].max()}",f"min: {df[col].min()}")

        # Separator
        print("="*40)

In [ ]:
## select column object and column numeric
obj=df.select_dtypes(include="object")
num=df.select_dtypes(exclude="object")

In [ ]:
## univariate analysis box plot (plotly)
for i in num.columns:
  fig = px.histogram(df[i])
  fig.update_layout(title="Distribution of " + i)
  fig.update_xaxes(title=i)
  fig.update_layout(title_x=.5)
  fig.show()

In [ ]:
for i in obj.columns:

    fig=px.bar(data_frame=df[i].value_counts(),text_auto=True)
    fig.update_layout(title="Distribution of " + i)
    fig.update_layout(xaxis_title= i)
    fig.update_traces(textposition='outside')
    fig.update_layout(title_x=.5)
    fig.show()

## Set PassengerId as the index.

In [ ]:
df=df.set_index("PassengerId")

## Create a pie chart presenting the male/female as proportions

In [ ]:
px.pie(df,names="Sex")

## Create a scatterplot with the Fare payed and the Age, differ the plot color by gender

In [ ]:
px.scatter(df,x="Age",y="Fare",color="Sex")

In [ ]:
sns.regplot(df,x="Age",y="Fare")

In [ ]:
sns.scatterplot(df,x="Age",y="Fare",hue="Sex")

## How many people survived?

In [ ]:
df.Survived.value_counts()

In [ ]:
fig=px.bar(df.Survived.value_counts(),text_auto=True)
fig.update_layout(title="Distribution of " + "Survived")
fig.update_layout(xaxis_title= "Survived")
fig.update_traces(textposition='outside')
fig.update_layout(title_x=.5)
fig.show()

In [ ]:
# Group and aggregate count of survived passengers by sex
df_grouped = df.groupby("Sex")["Survived"].sum().reset_index()

# Create figure
fig = px.bar(df_grouped, x="Sex", y="Survived", color="Sex", text="Survived")

# Update layout
fig.update_layout(
    title="Count of survived passengers by sex",
    xaxis_title="Sex",
    yaxis_title="Survival Count"
)

# Adjust text position
fig.update_traces(textposition="outside")

# Show the figure
fig.show()

# Create a histogram with the Fare payed

In [ ]:
px.histogram(df,x="Fare")

In [ ]:
sns.histplot(df["Fare"],kde=True)